{% extends 'base.html' %}
{% block header %}
<title>TICKET BOX | User Cart</title>
{% endblock header %}

{% block body %}
<section id="mainSection" class="mt-5 pt-5">
    <div class="container d-flex flex-column align-items-center mt-5 pt-5 mx-auto" id="mainForm">
        <form id="cartForm{{order.id}}" class="form-group w-100 d-flex flex-column align-items-around" method="POST" >
            <label id="centerFormLabel" form="centerForm" class="mt-5 text-center">{{user.username}}'s cart</label>
            {% if order.orderitems|length > 0 %}
                {% for item in order.orderitems %}
                    <div class="row m-0 p-0">
                        <div class="col-md-5 p-1 m-0">
                            <div class="md-form">
                                <h4>{{loop.index}}. {{item.tickettype.name}}</h4>
                                <p>{{item.tickettype.price}} VND / ticket</p>
                            </div>
                        </div>
                        
                        <div class="col-md-4 p-1 m-0 inline-form">
                            <h4><span>X</span>
                            <input class="md-form-control rounded-right-0 amountInput ml-5" id="input{{item.id}}" required name="amount_{{loop.index}}"
                                type="number" value="{{item.amount}}" min="1" max="" step="1" data-number-to-fixed="0"
                                data-number-stepfactor="1" form="cartForm{{order.id}}"/></h4>
                        </div>
                        <div class="col-md-3 p-1 m-0 d-flex justify-content-end">
                            <h4>{{item.tickettype.price*item.amount}} VND</h4>
                        </div>
                        <hr class="container-fluid m-0 p-0"/>
                    </div>
                {% endfor %}
                    <div class="row m-0 p-0 mb-5 d-flex justify-content-end">
                        <h3>Total: <span class="ml-5 h3 lead">{{total}}</span> VND</h3>
                    </div>
                <div class="row m-0 p-0 my-5 d-flex justify-content-around">
                    <button class="btn btn-secondary addCartBtn" formaction={{url_for('user.update_cart', id=user.id)}} type="submit" formvalidate form="cartForm{{order.id}}">Update cart</button>
                    <button class="btn btn-secondary addCartBtn" formaction={{url_for("user.checkout", id=user.id)}} type="submit" formvalidate form="cartForm{{order.id}}">Checkout</button>
                </div>
            {% else %}
                <div class="row m-0 p-0 mb-5 d-flex justify-content-center">
                    <h3 class="">There is no item in you cart yet</h3>
                </div>
            {% endif %}
            <p class="mt-5 text-muted text-center">© HTICKETBOX 2016-2019</p>
        </form>
    </div>
</section>
{% endblock body %}

{% block script %}
<script>
    
</script>
{% endblock script %}