{% extends 'base.html' %}
{% block header %}
<title>TICKET BOX | Create Event Article</title>
{% endblock header %}

{% block body %}
<section id="mainSection">
    <div class="container d-flex flex-column align-items-center mt-5 pt-5 mx-auto" id="mainForm">
        <form id="centerForm" action={{url_for('event.create_event_ticket', id=id, origin=origin)}} method="POST"
            role="form">
            <label id="centerFormLabel" form="centerForm">CREATE A TICKET TYPE FOR THE EVENT</label>
            <div class="row m-0 p-0">
                <div class="col-md-12 p-1 m-0">
                    <div class="md-form">
                        <input name="name" autofocus equired id="nameInput" form="centerForm" type="text"
                            class="md-form-control" onkeyup='handleFormInput(this)'>
                        <label for="nameInput">Ticket Type</label>
                    </div>
                </div>
                <div class="col-md-12 p-1 m-0 mb-5">
                    <div class="row container-fluid m-0 p-0 md-form">
                        <span class="col-1 priceLabel pt-1 pl-0" for="c2">Price:</span>
                        <input class="md-form-control currency rounded-right-0 col-10" id="c2" required name="price"
                            type="number" value="10000" min="10000" step="500" data-number-to-fixed="0"
                            data-number-stepfactor="100" />
                        <span class="col-1 input-group-addon pt-3">VND</span>
                    </div>
                </div>
                <div class="col-md-12 p-1 m-0 mb-5">
                    <div class="row container-fluid m-0 p-0 md-form">
                        <span class="col-2 priceLabel pt-1 pl-0" for="c2">Stock Amount:</span>
                        <input class="md-form-control currency rounded-right-0 col-10" id="c3" required name="stock"
                            type="number" value="10" min="1" step="1" data-number-to-fixed="0"
                            data-number-stepfactor="100" />
                    </div>
                </div>
                <div class="col-md-12 p-1 m-0 mt-5">
                    <div class="md-form">
                        <textarea class="md-form-control auto-resize" required id="contentInput"
                            onkeyup='handleFormInput(this)'></textarea>
                        <label for="contentInput">Benefits of the ticket type, tip: you can use Markdown here</label>
                    </div>

                    <div class="col-md-12 p-1 m-0">
                        <label class=" priceLabel " for="contentOutput">Preview:</label>
                        <div class="md-form">
                            <div type="text" class="auto-resize" disabled id="contentOutput"></div>
                        </div>
                    </div>
                </div>
                <textarea hidden class="md-form-control auto-resize" name="benefits" id="contentOutputHidden"
                    form="centerForm" onkeyup='handleFormInput(this)'></textarea>
            </div>

            <div class="row d-flex justify-content-end m-0 p-2">
                <a class="btn btn-outline-secondary primeBtn mr-5" id="cancel" name="cancel" data-dismiss="form"
                    href={{url_for('event.single_event', id=id)}} formnovalidate>Cancel</a>
                <a class="btn btn-outline-secondary primeBtn mr-5"
                    href={{url_for('event.create_event_article', id=id, origin=origin)}} formvalidate>Add Articles</a>
                <button class="btn btn-secondary primeBtn" type="submit" formnovalidate>Submit</button>
            </div>
            <p class="mt-5 text-muted text-center">©HTICKETBOX 2016-2019</p>
        </form>
    </div>
</section>
{% endblock body %}

{% block script %}
<script>
    window.onload = function () {
        var converter = new showdown.Converter();
        var textarea = document.getElementById('contentInput');
        var markdownArea = document.getElementById('contentOutput');
        var markdownHiddenArea = document.getElementById('contentOutputHidden');

        var previousMarkdownValue;

        var convertTextAreaToMarkdown = function () {
            var markdownText = textarea.value;
            previousMarkdownValue = markdownText;
            converted_content = converter.makeHtml(markdownText);
            markdownArea.innerHTML = converted_content;
            markdownHiddenArea.value = converted_content;
        };

        var didChangeOccur = function () {
            if (previousMarkdownValue != textarea.value) {
                return true;
            }
            return false;
        };

        setInterval(function () {
            if (didChangeOccur()) {
                convertTextAreaToMarkdown();
            }
        }, 1000);

        textarea.addEventListener('input', convertTextAreaToMarkdown);

        sharejs.open('home', 'text', function (error, doc) {
            doc.attach_textarea(textarea);
            convertTextAreaToMarkdown();
        });
    };
</script>
{% endblock script %}